/*! maluroam github.com/graingert/maluroam/ | github.com/graingert/maluroam/raw/master/COPYING */
.chart {
    z-index: -1;
}

.daterange form{
    margin: 0;
}

.daterange.affix{
    top: 40px;
}

.legend rect.color{
    stroke:grey;
    stroke-width:2;
}
