/*! maluroam github.com/graingert/maluroam/ | github.com/graingert/maluroam/raw/master/COPYING */
tr:target td{
    background-color:#FFFFCC !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
