/*! maluroam github.com/graingert/maluroam/ | github.com/graingert/maluroam/raw/master/COPYING */
#user .month-events{
	padding: 10px !important;
	width: 928px;
}

#user table.hover tr.entry:hover td{
	background: #A6C9E2;
}

#user .activeTop{
	background: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
#user .activeBottom{
	background: #F0F0F0;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	margin-bottom: 5px;
}
#user table th{
	padding: 5px 0;
	height: 1em;
}
#user table td{
	padding: 5px 0;
}
#user .radiusButton{
	font-size: 10px;
}
#user .radiusButton .ui-button-text{
	padding: 1px 10px !important;
}
#user .radius-row{
	display: block;
	text-indent: 50px;
}

#user #ips{
	font-size: 0.9em;
}
#user #ips span.col1{width: 120px;}
#user #ips span.col2{width: 160px;}
#user #ips span.col3{width: 90px;}
#user #ips span.col4{width: 90px;}
#user #ips span.col5{width: 180px;}
#user #ips span.col6{width: 180px;}

#user #alerts{
	font-size: 0.9em;
}
#user #alerts span.col1{width: 160px;}
#user #alerts span.col2{width: 120px;}
#user #alerts span.col3{width: 90px;}
#user #alerts span.col4{width: 90px;}
#user #alerts span.col5{width: 180px;}
#user #alerts span.col6{width: 180px;}
