{% load compress %}
{% load url from future %}
<!DOCTYPE html>
<html ng:app="djangoModule" ng:csp>
    <head>
        <meta charset="utf-8">
        <title>eduroam Wireless Malware Monitoring - {% block title %} Untitled {%endblock title %}</title>
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/less/bootstrap.less" type="text/less">
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
            </style>
            <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/less/responsive.less" type="text/less">
        {% endcompress %}
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
        {% compress css %}
            <link href="{{ STATIC_URL }}3rdparty/jQuery-UI-Date-Range-Picker/ui.daterangepicker.css" rel="stylesheet" type="text/css" />
            <link href="{{ STATIC_URL }}eduroam_snort/css/dashboard.css" rel="stylesheet" type="text/css">
            <link href="{{ STATIC_URL }}eduroam_snort/css/timepicker.css" rel="stylesheet" type="text/css">
            <link href="{{ STATIC_URL }}eduroam_snort/css/site.css" rel="stylesheet" type="text/css">
            <link href="{{ STATIC_URL }}eduroam_snort/css/users.css" rel="stylesheet" type="text/css">
            <link href="{{ STATIC_URL }}eduroam_snort/css/legend.css" rel="stylesheet" type="text/css">
        {% endcompress %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Maluroam</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="{% block isdashboard %}{%endblock%}"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="{% block isusers %}{%endblock%}"><a href="{% url 'users' %}">Users</a></li>
                            <li class="{% block issettings %}{%endblock%}"><a href="{% url 'settings' %}">Settings</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div id="main" class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>This is a 3rd Year Project by Jon Hargest (<a href="mailto:jh4g09@ecs.soton.ac.uk">jh4g09@ecs.soton.ac.uk</a>)</footer>

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.colorhelpers.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.crosshair.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.fillbetween.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.image.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.navigate.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.pie.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.resize.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.selection.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.stack.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.symbol.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/flot/jquery.flot.threshold.min.js"></script>
        {% endcompress %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script type="text/javascript" src="https://raw.github.com/brandonaaron/livequery/master/jquery.livequery.js"></script>
        <script type="text/javascript" src="https://raw.github.com/defunkt/jquery-pjax/master/jquery.pjax.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.js"></script>
        <script type="text/javascript" src="http://jsonselect.org/js/jsonselect.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}3rdparty/jQuery-UI-Date-Range-Picker/daterangepicker.jQuery.js"></script>
        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-transition.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-dropdown.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap-affix.js"></script>

            <script type="text/javascript" src="{{ STATIC_URL}}lib/angularjs/angular.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/initapp.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/pjax-paginator.js"></script>
        {% endcompress %}
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
