{% load compress %}
{% load url from future %}
<!DOCTYPE html>
<html>
    <head>
        <title>eduroam Wireless Malware Monitoring - {% block title %} Untitled {%endblock title %}</title>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/start/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/timepicker.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="container">
            <div id="inner-wrapper">
                <h1 id="sitetitle"><a href="/">eduroam Wireless Malware Monitoring</a></h1>
                <span id="lastupdated"><strong>Last Updated:</strong> {{lastupdated}}</span>
                
                <div id="menu-search">
                    <ul id="menu">
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li> |&nbsp;
                        <li><a href="{% url 'users' %}">Users</a></li> |&nbsp;
                        <li><a href="{% url 'settings' %}">Settings</a></li>
                    </ul>
                    
                    <div id="search" class="ui-widget">
                        <div id="user-search">
                            <label for="usersearch">Search for User:</label><input type="text" id="usersearch" name="user" value="" style="width: 250px; padding: 5px;" />
                        </div>
                        
                        <div id="date-search">
                            <form class="form-inline" method="get" action="{% url 'users' %}">
                                <input type="hidden" name="page" value="users" />
                                <input type="hidden" name="action" value="filter" />
                                <input type="hidden" name="rules[all]" value="1" />
                                <input type="hidden" name="blacklists[all]" value="1" />
                                
                                <label for="searchfrom">Search from:</label>
                                <input type="date" id="searchfrom" name="date[from]" value="" />
                                <label for="searchto">to</label>
                                <input type="date" id="searchto" name="date[to]" value="" />
                                <input type="submit" class="btn btn-primary" value="Search" />
                            </form>
                        </div>
                    </div>
                    
                    <div id="log">
                    </div>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
            
            <div id="footer">This is a 3rd Year Project by Jon Hargest (<a href="mailto:jh4g09@ecs.soton.ac.uk">jh4g09@ecs.soton.ac.uk</a>)</div>
        </div>
    
        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.colorhelpers.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.crosshair.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.fillbetween.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.image.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.navigate.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.pie.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.resize.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.selection.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.stack.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.symbol.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.threshold.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}html5Forms.js/shared/js/modernizr.com/Modernizr-2.5.3.forms.js"></script>
        {% endcompress %}
        <script type="text/javascript" data-webforms2-support="validation" src="{{ STATIC_URL }}html5Forms.js/shared/js/html5Forms.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/misc.js"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
