{% load compress %}
{% load url from future %}
<!DOCTYPE html>
<html>
    <head>
        <title>eduroam Wireless Malware Monitoring - {% block title %} Untitled {%endblock title %}</title>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/start/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/timepicker.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/users.css" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}eduroam_snort/css/legend.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Maluroam</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="{% block isdashboard %}{%endblock%}"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="{% block isusers %}{%endblock%}"><a href="{% url 'users' %}">Users</a></li>
                            <li class="{% block issettings %}{%endblock%}"><a href="{% url 'settings' %}">Settings</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>This is a 3rd Year Project by Jon Hargest (<a href="mailto:jh4g09@ecs.soton.ac.uk">jh4g09@ecs.soton.ac.uk</a>)<footer>

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.colorhelpers.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.crosshair.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.fillbetween.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.image.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.navigate.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.pie.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.resize.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.selection.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.stack.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.symbol.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/jquery.flot.threshold.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}html5Forms/shared/js/modernizr.com/Modernizr-2.5.3.forms.js"></script>
        {% endcompress %}
        <script type="text/javascript" data-webforms2-support="date" data-lang="en" src="{{ STATIC_URL }}html5Forms/shared/js/html5Forms.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/misc.js"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
