{% extends "eduroam_snort/base.html" %}
{% load url from future %}
{% block title%}Dashboard{% endblock title %}
{% block isdashboard%}active{% endblock %}
{% block content %}
    <div id="rangeSelector">
            <input type="radio" id="l24h" graphlabel="hours" name="radio" checked=checked /><label for="l24h">Last 24 hrs</label>
            <input type="radio" id="l3d" graphlabel="hours" name="radio" /><label for="l3d">Last 3 days</label>
            <input type="radio" id="l7d" graphlabel="days" name="radio" /><label for="l7d">Last 7 days</label>
            <input type="radio" id="l28d" graphlabel="days" name="radio" /><label for="l28d">Last 28 days</label>
            <input type="radio" id="l12m" graphlabel="months" name="radio" /><label for="l12m">Last 12 months</label>
    </div>
    
    <h2>Suspected Malicious Activity</h2>
    <p class="updateRangeSpan">
        <small></small>
    </p>
    <div class="row graph hideLegend">
        <div class="span6" style="height:450px" id="chart1"></div>
        <div class="span3">
            <ul id="overviewLegend">
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="span6">
            <h2>Alert Totals Comparisons</h2>
            <p class="updateRangeSpan">
                <small></small>
            </p>
            <div id="donut" style="height:300px"></div>
        </div>
        <div class="span3" id="users_overview">
            <h2>Users</h2>
            <p class="updateRangeSpan">
                <small></small>
            </p>
        {% for user in users %}
            {% if forloop.first %}
                <div id="users_overview" class="table">
                    <div class="table-header ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top">
                        <span class="col1">Username</span>
                        <span class="col2">Events</span>
                        <span class="col3">Packets</span>
                    </div>
            {% endif %}
                    <div class="table-row">
                        <span class="col1"><a href="{% url 'user' user.username %}">{{user.username}}</a></span>
                        <span class="col2">{{user.id__count}}</span>
                        <span class="col3">{{user.alerts__sum}}</span>
                    </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            <div class="alert">No users for this range</div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/page.dashboard.js"></script>
{% endblock scripts %}
