{% extends "eduroam_snort/base.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title%}Dashboard{% endblock title %}
{% block isdashboard%}active{% endblock %}
{% block content %}
    <div ng:controller="DashboardChartsCtrl">
        {# <div id="slider-range"></div> #}
        
        <div class="daterange well" data-spy="affix" data-offset-top="40">
            <form class="unstyled" ng:init="" id="activity-range">
                {# {{ activityRangeForm|crispy }} #}
                <input type="text" class="earliest" ng:model="earliest" force-model-update />
                <input type="text" class="latest" ng:model="latest" force-model-update />
            </form>
        </div>
        
        <h2>Suspected Malicious Activity</h2>
        <p class="updateRangeSpan">
            <small></small>
        </p>
        <div class="row">
            <div class="chart span9" style="height:450px" id="histogram"></div>
            <div class="ng-cloak legend span3">
                <form class="form-inline">
                    <ol>
                        <li ng:repeat="item in charts.data">
                            <input id="legend-[[item.uri]]" name="[[item.label]]" ng:model="item.show" ng:change="plot()" type="checkbox">
                            <label for="legend-[[item.uri]]">
                                <svg width="10" height="10">
                                    <rect class="color" width="10" height="10" fill="[[item.csscolor]]"/>
                                </svg>
                                <span ng:bind="item.label"></span>
                            </label>
                        </li>
                    </ol>
                </form>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="span8">
            <h2>Alert Totals Comparisons</h2>
            <p class="updateRangeSpan">
                <small></small>
            </p>
            <div class="chart" id="donut" style="height:300px"></div>
        </div>
        <div class="span3" id="users_overview">
            <h2>Users</h2>
            <p class="updateRangeSpan">
                <small></small>
            </p>
        {% for user in users %}
            {% if forloop.first %}
                <table class="table table-bordered table-striped" id="users_overview">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Alerts</th>
                            <th>Packets</th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                    <tr>
                        <td>
                            <a href="{% url 'user' user.username %}">{{user.username}}</a>
                        </td>
                        <td>{{user.id__count}}</td>
                        <td>{{user.alerts__sum}}</td>
                    </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% empty %}
            <div class="alert">No users for this range</div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/dashboard.js"></script>
{% endblock scripts %}
