{% load url from future %}
<div class="pagination pagination-centered">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="{{url}}">&laquo;</a></li>
            <li><a href="{{url}}&amp;page={{page_obj.previous_page_number}}">&lsaquo;</a></li>
        {% else %}
            <li class="disabled"><a>&laquo;</a></li>
            <li class="disabled"><a>&lsaquo;</a></li>
        {% endif %}
        
        {# nearby = lambda page,pages : pages[:page][-4:] + pages[page:][:3] #}
        
        {% if page_obj.paginator.num_pages < 7 %}
            {% for page_num in page_obj.paginator.page_range %}
            <li {% if page_obj.number = page_num %} class="active" {% endif %}>
                <a href="{{url}}&amp;page={{page_num}}">{{page_num}}</a>
            </li>
            {% endfor %}
        {% else %}
            {% if page_obj.has_previous %}
                <li class="disabled">
                    <a>&hellip;</a>
                </li>
            {% endif %}
            <li class="active">
                <a href="{{url}}&amp;page={{page_obj.number}}">{{page_obj.number}}</a>
            </li>
            {% if page_obj.has_next %}
                <li class="disabled">
                    <a>&hellip;</a>
                </li>
            {% endif %}
        {% endif %}
        
        
        {% if page_obj.has_next %}
            <li><a href="{{url}}?page={{page_obj.next_page_number}}">&rsaquo;</a></li>
            <li><a href="{{url}}?page=last">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a>&rsaquo;</a></li>
            <li class="disabled"><a>&raquo;</a></li>
        {% endif %}
    </ul>
</div>
