{% extends "eduroam_snort/base.html" %}
{% load url from future %}
{% block title%}Settings{% endblock title %}
{% block issettings %}active{%endblock%}
{% block content %}
        <ul class="nav nav-tabs">
            <li><a href="#rulenames" data-toggle="tab">Rule Names</a></li>
            <li><a href="#blacklists" data-toggle="tab">Blacklists</a></li>
            <li><a href="#scripts" data-toggle="tab">Scripts</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="rulenames">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Snort Rule ID</td>
                            <td>Look Up</td>
                            <td>Hide</td>
                            <td>Rule Name</td>
                            <td>Update</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rule in rules %}
                        <tr id="rule-{{rule.pk}}">
                            <form action="{% url 'rule' rule.pk %}" method="post" name="rule_{{rule.pk}}">
                                {% csrf_token %}
                                <td>{{rule}}</td>
                                <td>
                                    <a class="button" href="http://snortid.com/snortid.asp?QueryId={{rule.id}}" target="_blank">snortid.com lookup</a>
                                </td>
                                <td>
                                    <input type="checkbox" name="hide" {% if rule.hide %}checked="checked"{% endif %} />
                                </td>
                                <td>
                                    <input type="text" name="name" value="{{rule.name}}" />
                                </td>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Update"/>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="tab-pane" id="blacklists">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Blacklist</td>
                            <td>URL</td>
                            <td>Last Updated</td>
                            <td>Hide</td>
                            <td>Update</td>
                        </tr>
                    </thead>
                    
                    {% for blacklist in blacklists %}
                        <tr id="blacklist-{{blacklist.pk}}">
                            <form action="{% url 'blacklist' blacklist.pk %}" method="post" name="blacklist_{{blacklist.pk}}">
                                {% csrf_token %}
                                <td>{{blacklist.name}}</span>
                                <td>
                                    <a class="button" href="{{blacklist.url}}" target="_blank">{{blacklist.url}}</a>
                                </td>
                                <td>{{blacklist.updated}}</td>
                                <td>
                                    <input type="checkbox" name="hide" {% if blacklist.hide %}checked="checked"{% endif %}/>
                                </td>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Update"/>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        
        <div class="tab-pane" id="scripts">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Script</td>
                            <td>Last Updated</td>
                            <td>Script Name</td>
                            <td>Update</td>
                        </tr>
                    </thead>
                    
                    {% for script in scripts %}
                        <tr id="script-{{script.pk}}">
                            <form action="{% url 'script' script.pk %}" method="post" name="script_{{script.pk}}">
                                {% csrf_token %}
                                <td>{{script}}</td>
                                <td>{{script.updated}}</td>
                                <td>
                                    <input type="text" name="name" value="{{script.name}}" />
                                </td>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Update"/>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
