{% load url from future %}
{% block content %}
<div class="page-header">
    <h2>Filter</h2>
</div>

<form class="form-inline" method="get" action="{% url 'users' %}">
    <input type="hidden" value="filter" name="action" />
        <div class="row-fluid">
        <div class="well span4">
            <fieldset>
                <legend>Date</legend>
                <div class="control-group">
                    <label class="control-label" for="filter-date-from">From:</label>
                    <div class="controls">
                        <input id="filter-date-from" name="date[from]" value="{{ filters.from }}" type="datetime" />
                        <a class="btn btn-danger" href="#">x</a>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="filter-date-to">To:</label>
                    <div class="controls">
                        <input id="filter-date-to" name="date[to]" value="{{ filters.to }}" type="datetime" />
                        <a class="btn btn-danger" href="#">x</a>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well span4">
            <fieldset>
                <legend>Rules</legend>
                <ul>
                    <li>
                        <input id="cb-rules-all" name="rule" type="checkbox" value="all" {% if filters.blacklists == "all" %}checked="checked" {% endif %} />
                        <label for="cb-rules-all">All Rules</label>
                    </li>
                    <li>
                        <ul>
                            {% for rule in rules %}
                                <li>
                                    <input name="rule" type="checkbox"
                                        id="cb-rule-{{rule.pk}}"
                                        value="{{rule.pk}}"
                                        {% if bl.pk in filters.blacklists %}
                                            checked="checked"
                                        {% endif %}
                                    />
                                    <label for="cb-rule-{{rule.pk}}">
                                        {{ rule.name }}[{{rule.pk}}]
                                    </label>
                                </li>      
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </fieldset>
        </div>
            
        <div class="well span4">
            <fieldset>
                <legend>Blacklists</legend>
                <ul>
                    <li>
                        <input id="cb-blacklists-all" name="blacklist" type="checkbox" value="all" {% if filters.blacklists == "all" %}checked="checked" {% endif %} />
                        <label for="cb-blacklists-all">All Blacklists</label>
                    </li>
                    <li>
                        <ul>
                            {% for bl in blacklists %}
                                <li>
                                    <input name="blacklist" type="checkbox"
                                        id="cb-blacklist-{{bl.pk}}"
                                        value="{{bl.pk}}"
                                        {% if bl.pk in filters.blacklists %}
                                            checked="checked"
                                        {% endif %}
                                    />
                                    <label for="cb-blacklist-{{bl.pk}}">
                                        {{ bl.name }}
                                    </label>
                                </li>      
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input class="btn btn-primary" name="action" type="submit" value="filter" />
        </div>
    </div>
    </form>
{% endblock content %}
