{% extends "eduroam_snort/base.html" %}
{% load url from future %}
{% block content %}
    {% include "eduroam_snort/users.filters.html" with filters=filters rules=rules blacklists=blacklists only %}
    {% include "eduroam_snort/pagination.html" with page_name="users" page_obj=page_obj only %}
    
    
    {% for user in users %}
        {% if forloop.first %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Rules</th>
                        <th>Blacklists</th>
                        <th>Alerts</th>
                        <th>Packets</th>
                        <th>Earliest Alert</th>
                        <th>Latest Alert</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
            <tr>
                <td>
                    <a href="{% url 'user' user.username %}">{{user.username}}</a>
                </td>
                <td>
                    {% filter force_escape %}
                        {% firstof user.rules "-" %}
                    {% endfilter %}
                </td>
                <td>
                    {% filter force_escape %}
                        {% firstof user.blacklists "-" %}
                    {% endfilter %}
                </td>
                <td>{{user.event_id__count}}</td>
                <td>{{user.packets}}</td>
                <td>{{user.earliest}}</td>
                <td>{{user.latest}}</td>
            </tr>
        {% if forloop.last %}
                </tbody>
            </table>
        {% endif %}
    {% empty %}
        <div class="alert alert-error">
            <span>No users were returned. Please check your filters or go back to <a href="{% url 'users' %}">the users page</a>.</span>
        </div>
    {% endfor %}
    {% include "eduroam_snort/pagination.html" with page_name="users" page_obj=page_obj only %}

{% endblock content %}
{% block scripts %}
            <script type="text/javascript" src="{{ STATIC_URL }}eduroam_snort/js/page.users.js"></script>
{% endblock scripts %}
